<div class="container">
    <h3>Cart</h3>
    
    <div class="cart-item" *ngFor ="let item of items">
        <span>{{ item.name }} </span>
        <span>{{ item.price | currency }}</span>
    </div>
    
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    
        <div class="input-group my-3">
            <label for="name" class="input-group-text">Name</label>
            <input type="text" formControlName="name" id="name"  class="form-control" placeholder="e.g. Stephan Bodzin">
        </div>
    
        <div class="input-group my-3">
            <label for="address" class="input-group-text">Address</label>
            <input type="text" formControlName="address" id="address"  class="form-control" placeholder="e.g. Wiener Straße 7">
        </div>
    
        <button class="btn btn-success btn-lg" type="submit">Purchase</button>
    
    </form>
</div>



